@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";


/*-----------------------------------------------
 __mainVisual
-----------------------------------------------*/

.l_mainVisual {
    height: 80vh;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 800px;
    max-height: 960px;
    z-index: 1;
    &.home {
        background-image: url(../images/top_cover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &:before {
            content: '';
            position: absolute;
            top: -8%;
            left: 90%;
            background-image: url(../images/gra_bar__brn.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            height: 160px;
            width: 800px;
            transform-origin: left top;
            animation: mv_bar__brn 1s ease .8s 1 normal forwards;
            transform: rotate(-45deg) translateX(70%);
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -20%;
            right: 42%;
            background-image: url(../images/gra_bar__org.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: left center;
            height: 160px;
            width: 800px;
            animation: mv_bar__org 1s ease 1.4s 1 normal forwards;
        }
    }
    &.about {
        background: $c2;
        overflow: inherit;
        height: 70vh;
        min-height: 700px;
        max-height: 700px;
        &:after {
            content: '';
            position: absolute;
            left: 48%;
            bottom: -5%;
            background-image: url(../images/pAbout_mv.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center bottom;
            width: 90%;
            padding-top: 60%;
            transform: translate(-50%);
            z-index: 2;
        }
    }
}
.l_mainVisual__copy {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translateY(-50%);
    &.about {
        right: auto;
        left: 50%;
        transform: translate(-50%,-50%);
        .read {
            color: $c1;
            text-align: center;
            display: block;
            padding-bottom: 1em;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}


@keyframes mv_bar__brn {
    0% {
        transform: rotate(-45deg) translateX(70%);
    }
    100% {
        transform: rotate(-45deg) translateX(-50%);
    }
}
@keyframes mv_bar__org {
    0% {
        transform: rotate(135deg) translateX(40%);
    }
    100% {
        transform: rotate(135deg) translateX(-25%);
    }
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_title {
    color: $c1;
    &.hero {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        color: #fff;
    }
}
.md_header {
    background: #fff;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    &.fixed {
        position: fixed;
        .md_head__logo .tagline {
            display: none;
        }
    }
}
.md_header__outer {
    position: relative;
}
.md_head__logo {
    align-self: center;
    padding-left: 3%;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        &.tagline {
            @include media(1200px) {
                width: 160px;
            }
            @include media(660px) {
                width: 100px;
            }
        }
        &.logo {
            .fixed & {
                width: 140px;
                @include media(660px) {
                    width: 90px;
                }
            }
            @include media(1200px) {
                width: 140px;
            }
            @include media(660px) {
                width: 90px;
            }
        }
    }
}
.md_header__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    transition: all .1s linear;
    @include media(660px) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .fixed & {
        padding: 0;
    }
}
.md_head__navWrap {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    li {
        flex: 0 1 auto;
        position: relative;
        &.priority2 {
            @include media(1200px) {
                display: none;
            }
        }
        &.priority1 {
            @include media(660px) {
                display: none;
            }
        }
        &.fb {
            margin-left: 2em;
            @include media(1200px) {
                margin-left: 0;
            }
            @include media(960px) {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        &:first-child {
            &:after {display: none;}
        }
        &:last-child {
            &:after {display: none;}
        }
        &:after {
            content: '';
            position: absolute;
            top: .9em;
            left: 0;
            height: 1em;
            width: 1px;
            background: $c1;
        }
    }
    a {
        white-space: nowrap;
        text-decoration: none;
        color: $c1;
        display: inline-block;
        box-sizing: border-box;
        padding: .5em 1.75em;
        transition: all .1s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}



$bar_width: 20px;
.md_glnavi__triger {
    position: relative;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s linear;
    z-index: 99;
    cursor: pointer;
    border: 1px solid transparent;
    @include media(600px) {
        height: 50px;
    }
    &.home {
        z-index: 1;
    }
    &:hover {
        span {
            background: $c1;
            &:nth-child(1) {
                animation: glnavi__triger1 1.5s ease-in-out 0s;
            }
            &:nth-child(2) {
                animation: glnavi__triger1 1.5s ease-in-out .15s;
            }
            &:nth-child(3) {
                animation: glnavi__triger1 1.5s ease-in-out .3s;
            }
        }
    }
    span {
        transition: all .5s linear;
        display: block;
        height: 2px;
        border-radius: 4px;
        background: $c1;
        position: absolute;
        width: $bar_width;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        &:nth-child(1) {
            top: calc(50% - 8px);
        }
        &:nth-child(3) {
            top: calc(50% + 8px);
        }
    }
    @keyframes glnavi__triger1 {
        0%{
            left:-5px;
            opacity:0;
            width: 0;
        }
        20%{
            left: 50%;
            opacity:1;
            width: $bar_width;
        }
        100%{
            opacity:1;
            width: $bar_width;
        }
    }
}

