@charset "utf-8";
@import "../config/_base_setting";
@import "../config/_mixin";

/*--------
__common
-----------------------------------------------*/
.md_main {
    position: relative;
    z-index: 2;
    background: #fff;
    overflow: hidden;
}

/*--------
__top
-----------------------------------------------*/
.top_headNav {
    padding-top: 80px;
    margin-bottom: 100px;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        li {
            flex: 0 1 48%;
            a {
                text-decoration: none;
                color: $c1;
            }
        }
        .top_headNav__thumb {
            img {
                max-width: 100%;
                height: auto;
                display: block;
                border-radius: 20px;
            }
        }
    }
}
.top_headNav__ttl {
    line-height: 1.5;
    padding: .75em 20px;
    em {
        font-style: normal;
        display: block;
        font-size: .5em;
        line-height: 1;
    }
}

.md_info {
    margin-top: 160px;
}
.md_info__wrap {
    padding: 100px 0 80px 0;
    background: $c2;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        background: $c2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 10%;
        height: 100%;
        background: $c2;
    }
    .innr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        &::after {
            content:'';
            display: block;
            width: 30%;
        }
    }
}
.md_info__ttl {
    position: absolute;
    top: -80px;
    left: 0;
    text-align: center;
    height: 160px;
    width: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    &.lrg {
        height: 280px;
        width: 280px;
        &:before {
            height: 280px;
        }
    }
    span {
        position: relative;
        z-index: 2;
        color: $c1;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../images/gra_bar__brn.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left center;
        height: 160px;
        width: 800px;
        transform: rotate(180deg);
        z-index: 2;
    }
    &.right {
        left: auto;
        right: 0;
        &:before {
            right: auto;
            left: 0;
            transform: rotate(0deg);
            background-image: url(../images/gra_bar__org.svg);
        }
    }
}

@keyframes mv_bar__info {
    0% {
        transform: translateX(-300%);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


.md_info__article {
    width: 30%;
    padding: 20px 0;
}
.md_info__articleThumb {
    margin-bottom: 1em;
    display: block;
    position: relative;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 20px;
    }
}
.md_info__articleTtl {
    a {
        display: block;
        text-decoration: none;
        color: $base_font__color;
        line-height: 1.5;
    }
}
.md_info__articleDate {
    position: absolute;
    right: 0px;
    bottom: 15px;
    text-decoration: none;
    color: $base_font__color;
    display: inline-block;
    box-sizing: border-box;
    background: $c2;
    padding: .25em 1em;
    line-height: 1;
    border-radius: 5px 0 0 5px;
}

.md_fb__wrap {
    padding: 100px 0 80px 0;
    background: $c2;
    position: relative;
    width: 50%;
    margin-left: auto;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background: $c2;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 100%;
        width: 10%;
        height: 100%;
        background: $c2;
    }
    .innr {
    }
}
/*--------
__about
-----------------------------------------------*/
.pAbout {
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
}
.pAbout_ststory {
    margin-top: 140px;
    margin-bottom: 100px;
}
.pAbout_ststory__wrap,.pAbout_activity__wrap,.pAbout_philosophy__wrap,.pAbout_overview__wrap {
    position: relative;
}
.pAbout_ststory__contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 20%;
}
.pAbout_ststory__thumb {
    flex: 0 1 24%;
    background: #eee;
}
.pAbout_ststory__txt {
    flex: 0 1 65%;
    position: relative;
    .head {
        margin-top: 100px;
        margin-bottom: 40px;
        color: $c1;
        padding-left: 2em;
        border-left: 10px solid $c1;
    }
    .ttl {
        line-height: 1.4;
        letter-spacing: .1em;
    }
    .name {
        padding-top: .5em;
        text-align: right;
    }
    .summary {
        padding-left: 2em;
    }
    .link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        padding-left: 2em;
        margin-top: 2em;
        a.linkbtn {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: $c1;
            color: #eee;
            text-decoration: none;
            line-height: 1.5;
            text-align: center;
            padding-top: .5em;
            padding-bottom: .5em;
            &.more {
                flex: 0 1 30%;
                margin-left: 2em;
            }
            &.blog {
                flex: 1;
            }
        }
    }
}
.pAbout_ststory__link {
    padding-top: 60px;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.pAbout_philosophy {
    margin-top: 200px;
    margin-bottom: 100px;
}
.pAbout_philosophy__contents {
    color: $c1;
    padding: 0 5%;
    .innr {
        position: relative;
        &:before {
            content: '';
            padding-top: 100%;
            display: block;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $c2;
            border-radius: 50%;
        }
    }
    .philosophy_wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .philosophy {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            dl {
                margin-bottom: 5em;
                flex: 0 1 100%;
            }
            .dl {
                text-align: center;
                flex: 0 1 100%;
                a {
                    display: inline-block;
                    box-sizing: border-box;
                    background: #fff;
                    color: $c1;
                    text-decoration: none;
                    padding: .5em 4em;
                }
            }
        }
    }
}
.pAbout_phil__ttl {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0em;
        left: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $c1;
        transform: translateX(-50%);
    }
}
.pAbout_phil__txt {
    text-align: center;
}
.pAbout_activity__contents {
    color: $c1;
    padding: 0 5%;
    .activity {
        padding: 80px 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 70%;
            background: $c1;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 4px;
            height: 70%;
            background: $c1;
        }
        dl {
            margin-bottom: 5em;
            flex: 0 1 100%;
        }
    }
}
.pAbout_activity__ttl {
    text-align: center;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: 0em;
        left: 50%;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $c1;
        transform: translateX(-50%);
    }
}
.pAbout_activity__txt {
    text-align: center;
}
.pAbout_activity__link {
    text-align: center;
    padding-top: 1em;
    a {
        text-decoration: none;
        display: inline-block;
        box-sizing: border-box;
        white-space: nowrap;
        line-height: 1;
        padding : 1em 2em;
        color: #fff;
        background: $c1;
        margin: 0 1em;
    }
}
.pAbout_overview__contents {
    color: $c1;
    padding: 0 5%;
    text-align: center;
    .overview {
        padding-top: 80px;
        display: inline-block;
        box-sizing: border-box;
        text-align: left;
        dl {
            div{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                padding: .4em 0;
                line-height: 1.5;
            }
            dt {
                width: 12em;
                text-align: right;
            }
            dd {
                flex: 1;
                padding-left: 3em;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: .45em;
                    left: 2em;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $c1;
                }
            }
        }
    }
    .map_wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 80px;
        .map {
            flex: 0 1 47%;
        }
        .map_office {
            text-align: center;
            padding-bottom: 1em;
        }
        .gmap {
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 56.25%;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .map_address {
            padding-top: 1.5em;
            text-align: center;
            color: $c1;
        }
    }
    .cvs_wrap {
        padding-top: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        .innr {
            flex: 0 1 47%;
        }
        a.cvs_btn {
            text-decoration: none;
            color: $c1;
            position: relative;
            padding: 1.5em 2em;
            width: 80%;
            display: block;
            text-align: center;
            &.contact {
                margin-left: auto;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../images/gra_bar__brn.svg);
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            &.download {
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(../images/gra_bar__org.svg);
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 100%;
                    width: 100%;
                    transform: rotate(180deg);
                }
            }
            span {
                position: relative;
                z-index: 2;
            }
        }
    }
}


/*--------
__error
-----------------------------------------------*/

.md_pageHeader {
    &.page__error {
        padding: 200px 5%;
        text-align: center;
        @include media(600px) {
            padding: 120px 5% 60px 5%;
            text-align: left;
        }
    }
}
.md_pageHeader__Title {
    font-size: 24px;
    margin-bottom: .5em;
    @include media(600px) {
        font-size: 18px;
        text-align: center;
    }
}
.md_pageHeader__description {
    font-size: 14px;
    @include media(767px) {
        br {
            display: none;
        }
    }
    @include media(600px) {
        font-size: 12px;
    }
}

.event__img_dummy {
    display: block;
    margin: 0 auto;
}
