@charset "UTF-8";
/*-----------------------------------------------
 __font _settings
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #333;
  text-align: justify;
}

body.palt {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: .05em;
}

body.pkna {
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #21759b;
}

a:hover {
  color: #21759b;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __site_common
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #333;
  text-align: justify;
}

body.palt {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: .05em;
}

body.pkna {
  -webkit-font-feature-settings: "pkna";
          font-feature-settings: "pkna";
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #21759b;
}

a:hover {
  color: #21759b;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.gf_noto__serif {
  font-family: 'Noto Serif JP', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __layout
-----------------------------------------------*/
.dnon {
  display: none;
}

.l_row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.l_row.mx_1440 {
  max-width: 1440px;
}

.l_row.mx_1366 {
  max-width: 1366px;
}

.l_row.mx_1280 {
  max-width: 1280px;
}

.l_row.mx_1200 {
  max-width: 1200px;
}

.l_row.mx_1024 {
  max-width: 1024px;
}

.l_row.mx_1100 {
  max-width: 1100px;
}

.l_row.pd_side {
  padding: 0 5%;
}

.l_row.pd_side3 {
  padding: 0 3%;
}

.l_row.pd_side2 {
  padding: 0 2%;
}

@media screen and (max-width: 1200px) {
  .l_row.pd_side2 {
    padding: 0 5%;
  }
}

.wrapper {
  position: relative;
}

/*--------
__common
-----------------------------------------------*/
.md_main {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
}

/*--------
__top
-----------------------------------------------*/
.top_headNav {
  padding-top: 80px;
  margin-bottom: 100px;
}

.top_headNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top_headNav ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.top_headNav ul li a {
  text-decoration: none;
  color: #008650;
}

.top_headNav ul .top_headNav__thumb img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.top_headNav__ttl {
  line-height: 1.5;
  padding: .75em 20px;
}

.top_headNav__ttl em {
  font-style: normal;
  display: block;
  font-size: .5em;
  line-height: 1;
}

.md_info {
  margin-top: 160px;
}

.md_info__wrap {
  padding: 100px 0 80px 0;
  background: #DEF0E3;
  position: relative;
}

.md_info__wrap:before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: #DEF0E3;
}

.md_info__wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 10%;
  height: 100%;
  background: #DEF0E3;
}

.md_info__wrap .innr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.md_info__wrap .innr::after {
  content: '';
  display: block;
  width: 30%;
}

.md_info__ttl {
  position: absolute;
  top: -80px;
  left: 0;
  text-align: center;
  height: 160px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

.md_info__ttl.lrg {
  height: 280px;
  width: 280px;
}

.md_info__ttl.lrg:before {
  height: 280px;
}

.md_info__ttl span {
  position: relative;
  z-index: 2;
  color: #008650;
}

.md_info__ttl:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/gra_bar__brn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 160px;
  width: 800px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 2;
}

.md_info__ttl.right {
  left: auto;
  right: 0;
}

.md_info__ttl.right:before {
  right: auto;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-image: url(../images/gra_bar__org.svg);
}

@-webkit-keyframes mv_bar__info {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes mv_bar__info {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.md_info__article {
  width: 30%;
  padding: 20px 0;
}

.md_info__articleThumb {
  margin-bottom: 1em;
  display: block;
  position: relative;
}

.md_info__articleThumb img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.md_info__articleTtl a {
  display: block;
  text-decoration: none;
  color: #333;
  line-height: 1.5;
}

.md_info__articleDate {
  position: absolute;
  right: 0px;
  bottom: 15px;
  text-decoration: none;
  color: #333;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #DEF0E3;
  padding: .25em 1em;
  line-height: 1;
  border-radius: 5px 0 0 5px;
}

.md_fb__wrap {
  padding: 100px 0 80px 0;
  background: #DEF0E3;
  position: relative;
  width: 50%;
  margin-left: auto;
}

.md_fb__wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #DEF0E3;
}

.md_fb__wrap:after {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 10%;
  height: 100%;
  background: #DEF0E3;
}

/*--------
__about
-----------------------------------------------*/
.pAbout {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}

.pAbout_ststory {
  margin-top: 140px;
  margin-bottom: 100px;
}

.pAbout_ststory__wrap, .pAbout_activity__wrap, .pAbout_philosophy__wrap, .pAbout_overview__wrap {
  position: relative;
}

.pAbout_ststory__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-right: 20%;
}

.pAbout_ststory__thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
  background: #eee;
}

.pAbout_ststory__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  position: relative;
}

.pAbout_ststory__txt .head {
  margin-top: 100px;
  margin-bottom: 40px;
  color: #008650;
  padding-left: 2em;
  border-left: 10px solid #008650;
}

.pAbout_ststory__txt .ttl {
  line-height: 1.4;
  letter-spacing: .1em;
}

.pAbout_ststory__txt .name {
  padding-top: .5em;
  text-align: right;
}

.pAbout_ststory__txt .summary {
  padding-left: 2em;
}

.pAbout_ststory__txt .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 2em;
  margin-top: 2em;
}

.pAbout_ststory__txt .link a.linkbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #008650;
  color: #eee;
  text-decoration: none;
  line-height: 1.5;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}

.pAbout_ststory__txt .link a.linkbtn.more {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  margin-left: 2em;
}

.pAbout_ststory__txt .link a.linkbtn.blog {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pAbout_ststory__link {
  padding-top: 60px;
}

.pAbout_ststory__link a {
  display: block;
}

.pAbout_ststory__link img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pAbout_philosophy {
  margin-top: 200px;
  margin-bottom: 100px;
}

.pAbout_philosophy__contents {
  color: #008650;
  padding: 0 5%;
}

.pAbout_philosophy__contents .innr {
  position: relative;
}

.pAbout_philosophy__contents .innr:before {
  content: '';
  padding-top: 100%;
  display: block;
}

.pAbout_philosophy__contents .innr:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #DEF0E3;
  border-radius: 50%;
}

.pAbout_philosophy__contents .philosophy_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pAbout_philosophy__contents .philosophy_wrap .philosophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pAbout_philosophy__contents .philosophy_wrap .philosophy dl {
  margin-bottom: 5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.pAbout_philosophy__contents .philosophy_wrap .philosophy .dl {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.pAbout_philosophy__contents .philosophy_wrap .philosophy .dl a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  color: #008650;
  text-decoration: none;
  padding: .5em 4em;
}

.pAbout_phil__ttl {
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  position: relative;
}

.pAbout_phil__ttl:after {
  content: '';
  position: absolute;
  bottom: 0em;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #008650;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pAbout_phil__txt {
  text-align: center;
}

.pAbout_activity__contents {
  color: #008650;
  padding: 0 5%;
}

.pAbout_activity__contents .activity {
  padding: 80px 0;
  position: relative;
}

.pAbout_activity__contents .activity:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 70%;
  background: #008650;
}

.pAbout_activity__contents .activity:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4px;
  height: 70%;
  background: #008650;
}

.pAbout_activity__contents .activity dl {
  margin-bottom: 5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.pAbout_activity__ttl {
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  position: relative;
}

.pAbout_activity__ttl:after {
  content: '';
  position: absolute;
  bottom: 0em;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #008650;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pAbout_activity__txt {
  text-align: center;
}

.pAbout_activity__link {
  text-align: center;
  padding-top: 1em;
}

.pAbout_activity__link a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: 1em 2em;
  color: #fff;
  background: #008650;
  margin: 0 1em;
}

.pAbout_overview__contents {
  color: #008650;
  padding: 0 5%;
  text-align: center;
}

.pAbout_overview__contents .overview {
  padding-top: 80px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.pAbout_overview__contents .overview dl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .4em 0;
  line-height: 1.5;
}

.pAbout_overview__contents .overview dl dt {
  width: 12em;
  text-align: right;
}

.pAbout_overview__contents .overview dl dd {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 3em;
  position: relative;
}

.pAbout_overview__contents .overview dl dd:before {
  content: '';
  position: absolute;
  top: .45em;
  left: 2em;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #008650;
}

.pAbout_overview__contents .map_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 80px;
}

.pAbout_overview__contents .map_wrap .map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.pAbout_overview__contents .map_wrap .map_office {
  text-align: center;
  padding-bottom: 1em;
}

.pAbout_overview__contents .map_wrap .gmap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;
}

.pAbout_overview__contents .map_wrap .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pAbout_overview__contents .map_wrap .map_address {
  padding-top: 1.5em;
  text-align: center;
  color: #008650;
}

.pAbout_overview__contents .cvs_wrap {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pAbout_overview__contents .cvs_wrap .innr {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.pAbout_overview__contents .cvs_wrap a.cvs_btn {
  text-decoration: none;
  color: #008650;
  position: relative;
  padding: 1.5em 2em;
  width: 80%;
  display: block;
  text-align: center;
}

.pAbout_overview__contents .cvs_wrap a.cvs_btn.contact {
  margin-left: auto;
}

.pAbout_overview__contents .cvs_wrap a.cvs_btn.contact:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/gra_bar__brn.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.pAbout_overview__contents .cvs_wrap a.cvs_btn.download:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/gra_bar__org.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pAbout_overview__contents .cvs_wrap a.cvs_btn span {
  position: relative;
  z-index: 2;
}

/*--------
__error
-----------------------------------------------*/
.md_pageHeader.page__error {
  padding: 200px 5%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .md_pageHeader.page__error {
    padding: 120px 5% 60px 5%;
    text-align: left;
  }
}

.md_pageHeader__Title {
  font-size: 24px;
  margin-bottom: .5em;
}

@media screen and (max-width: 600px) {
  .md_pageHeader__Title {
    font-size: 18px;
    text-align: center;
  }
}

.md_pageHeader__description {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .md_pageHeader__description br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .md_pageHeader__description {
    font-size: 12px;
  }
}

.event__img_dummy {
  display: block;
  margin: 0 auto;
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
/*-----------------------------------------------
 __mainVisual
-----------------------------------------------*/
.l_mainVisual {
  height: 80vh;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 800px;
  max-height: 960px;
  z-index: 1;
}

.l_mainVisual.home {
  background-image: url(../images/top_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.l_mainVisual.home:before {
  content: '';
  position: absolute;
  top: -8%;
  left: 90%;
  background-image: url(../images/gra_bar__brn.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 160px;
  width: 800px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-animation: mv_bar__brn 1s ease .8s 1 normal forwards;
          animation: mv_bar__brn 1s ease .8s 1 normal forwards;
  -webkit-transform: rotate(-45deg) translateX(70%);
          transform: rotate(-45deg) translateX(70%);
}

.l_mainVisual.home:after {
  content: '';
  position: absolute;
  bottom: -20%;
  right: 42%;
  background-image: url(../images/gra_bar__org.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 160px;
  width: 800px;
  -webkit-animation: mv_bar__org 1s ease 1.4s 1 normal forwards;
          animation: mv_bar__org 1s ease 1.4s 1 normal forwards;
}

.l_mainVisual.about {
  background: #DEF0E3;
  overflow: inherit;
  height: 70vh;
  min-height: 700px;
  max-height: 700px;
}

.l_mainVisual.about:after {
  content: '';
  position: absolute;
  left: 48%;
  bottom: -5%;
  background-image: url(../images/pAbout_mv.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 90%;
  padding-top: 60%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
}

.l_mainVisual__copy {
  position: absolute;
  top: 40%;
  right: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.l_mainVisual__copy.about {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.l_mainVisual__copy.about .read {
  color: #008650;
  text-align: center;
  display: block;
  padding-bottom: 1em;
}

.l_mainVisual__copy img {
  max-width: 100%;
  height: auto;
  display: block;
}

@-webkit-keyframes mv_bar__brn {
  0% {
    -webkit-transform: rotate(-45deg) translateX(70%);
            transform: rotate(-45deg) translateX(70%);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateX(-50%);
            transform: rotate(-45deg) translateX(-50%);
  }
}

@keyframes mv_bar__brn {
  0% {
    -webkit-transform: rotate(-45deg) translateX(70%);
            transform: rotate(-45deg) translateX(70%);
  }
  100% {
    -webkit-transform: rotate(-45deg) translateX(-50%);
            transform: rotate(-45deg) translateX(-50%);
  }
}

@-webkit-keyframes mv_bar__org {
  0% {
    -webkit-transform: rotate(135deg) translateX(40%);
            transform: rotate(135deg) translateX(40%);
  }
  100% {
    -webkit-transform: rotate(135deg) translateX(-25%);
            transform: rotate(135deg) translateX(-25%);
  }
}

@keyframes mv_bar__org {
  0% {
    -webkit-transform: rotate(135deg) translateX(40%);
            transform: rotate(135deg) translateX(40%);
  }
  100% {
    -webkit-transform: rotate(135deg) translateX(-25%);
            transform: rotate(135deg) translateX(-25%);
  }
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_title {
  position: absolute;
  left: 0;
  bottom: -2em;
  z-index: -1;
}

.md_header__wrap {
  position: relative;
  overflow: hidden;
}

.md_header {
  background: #fff;
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100px;
  top: 0;
}

.md_header.fixed {
  position: fixed;
}

.md_glnavi__triger {
  position: relative;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  z-index: 999999;
  display: none;
}

.md_glnavi__triger:hover {
  background: #eee;
}

.md_glnavi__triger span {
  display: block;
  width: 36px;
  height: 2px;
  border-radius: 4px;
  background: #000;
  position: absolute;
  left: 12px;
  top: 18px;
}

.md_glnavi__triger span:nth-child(1) {
  -webkit-animation: glnavi__triger1 6s ease-in-out 0s infinite;
          animation: glnavi__triger1 6s ease-in-out 0s infinite;
}

.md_glnavi__triger span:nth-child(2) {
  top: 26px;
  width: 27px;
  -webkit-animation: glnavi__triger2 6s ease-in-out .15s infinite;
          animation: glnavi__triger2 6s ease-in-out .15s infinite;
}

.md_glnavi__triger span:nth-child(3) {
  top: 34px;
  width: 18px;
  -webkit-animation: glnavi__triger3 6s ease-in-out .3s infinite;
          animation: glnavi__triger3 6s ease-in-out .3s infinite;
}

@-webkit-keyframes glnavi__triger1 {
  0% {
    left: 12px;
    opacity: 1;
    width: 36px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 36px;
  }
  100% {
    opacity: 1;
    width: 36px;
  }
}

@keyframes glnavi__triger1 {
  0% {
    left: 12px;
    opacity: 1;
    width: 36px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 36px;
  }
  100% {
    opacity: 1;
    width: 36px;
  }
}

@-webkit-keyframes glnavi__triger2 {
  0% {
    left: 12px;
    opacity: 1;
    width: 27px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0%;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 27px;
  }
  100% {
    opacity: 1;
    width: 27px;
  }
}

@keyframes glnavi__triger2 {
  0% {
    left: 12px;
    opacity: 1;
    width: 27px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0%;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 27px;
  }
  100% {
    opacity: 1;
    width: 27px;
  }
}

@-webkit-keyframes glnavi__triger3 {
  0% {
    left: 12px;
    opacity: 1;
    width: 18px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0%;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 18px;
  }
  100% {
    opacity: 1;
    width: 18px;
  }
}

@keyframes glnavi__triger3 {
  0% {
    left: 12px;
    opacity: 1;
    width: 18px;
  }
  5%, 15% {
    left: -5px;
    opacity: 0;
    width: 0%;
  }
  20% {
    left: 12px;
    opacity: 1;
    width: 18px;
  }
  100% {
    opacity: 1;
    width: 18px;
  }
}

.md_head__logo {
  -ms-flex-item-align: center;
      align-self: center;
}

.md_head__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.md_header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

.md_head__navWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 10px;
}

.md_head__navWrap li {
  position: relative;
}

.md_head__navWrap li.fb {
  margin-left: 2em;
}

.md_head__navWrap li.fb:after {
  display: none;
}

.md_head__navWrap li:first-child:after {
  display: none;
}

.md_head__navWrap li:last-child:after {
  display: none;
}

.md_head__navWrap li:after {
  content: '';
  position: absolute;
  top: .9em;
  left: 0;
  height: 1em;
  width: 1px;
  background: #008650;
}

.md_head__navWrap a {
  text-decoration: none;
  color: #008650;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1.75em;
}

/*-----------------------------------------------
 __footer
-----------------------------------------------*/
/*-----------------------------------------------
 __footer
-----------------------------------------------*/
.md_footer {
  background: #008650;
  color: #eee;
  padding: 60px 0;
}

.md_footer__infoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.md_footer__mainNav > li {
  margin: .75em 0;
}

.md_footer__mainNav > li.md_footer__logo {
  margin: 0;
  margin-bottom: 30px;
}

.md_footer__mainNav > li.md_footer__logo a {
  display: block;
}

.md_footer__mainNav > li a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  text-decoration: none;
}

.md_footer__listNav {
  border-left: 1px solid #eee;
  padding-left: 1.5em;
}

.md_footer__listNav > li {
  line-height: 1.5;
  padding: .25em 0;
}

.md_footer__listNav > li a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  text-decoration: none;
  padding: .2em 0;
  position: relative;
}

.md_footer__listNav > li a:before {
  content: '-';
  padding-right: .5em;
}

.md_footer__listNav > li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eee;
  height: 1px;
  opacity: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.md_footer__listNav > li a:hover:after {
  opacity: 1;
}

.md_footer__listNav > li .subnav li a {
  margin-left: 2em;
}

.md_footer__listNav > li .subnav li a:before {
  display: none;
}

.md_footer__listNavTtl {
  margin-bottom: 1em;
}

.md_footer__listNavTtl.marginTop {
  margin-top: 2em;
}

.md_footer__listNavTtl a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  text-decoration: none;
}

/*# sourceMappingURL=maps/common.css.map */
