@charset "utf-8";
@import "../core/mixin";
@import "../base/_base_setting";

//loader
.noscript_outer {
	display: none;
	position: absolute;
	font-size: 12px;
	z-index:9999999;
	left: 0;top: 0;
	border-bottom: 1px solid #eee;
	background: #fafafa;
	padding: 1em 5%;
	width: 100%;
	text-align: center;
	color: #4AA3DF;
	box-sizing: border-box;
}
