@charset "utf-8";
@import "../core/mixin";


$c1: #530817;
$c2: #42484A;
$c3: #B8CCDE;
$c4: #DBEEFF;
$c5: #C6E5D7;

$c6: #C6E5D7;
$c7: #C6E5D7;
$c8: #C6E5D7;

$formcolor: #3B5998;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;

